{% extends 'glowny.html' %}
{% block producent%} Lista opon {% endblock %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display a form #}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'nowy.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>{% block producent%} {% endblock %}</title>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-dark bg-primary navbar-expand-sm">

            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="#"> Home</a></li>
                </ul>
            </div>
    </nav>



{% block strona%} {% endblock %}
</body>

{% block strona%}
    {% if user.is_authenticated %}
        Witaj {{user.username}}<br>
        <a href="{% url 'logout' %}">wyloguj sie</a>
    {% else %}
        <a href="{% url 'login' %}">zaloguj sie</a>
    {% endif %}
    <a href="{% url 'nowa_opona' %}">nowa opona</a>
    {% if opony|length == 0%}
        <h2>brak opon</h2>
    {% else %}
        <h2>Ilosc opon w bazie: {{ opony |length}}</h2>
        <h1> </h1>
    {% for opona in opony %}
        <h2> {{ opona }}</h2>
        <p>{{ opona.opis}}</p>
        <a href="{% url 'kup_opone' opona.id %}">Kup</a>
        <a href="{% url 'edytuj_opone' opona.id %}">Edytuj</a>
        <a href="{% url 'usun_opone' opona.id %}">Usun</a>
    {% endfor %}

{% endif %}

{% endblock %}
