{% extends 'glowny.html' %}
{% block producent%} Lista opon {% endblock %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display a form #}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}






{% block strona%}
    {% if user.is_authenticated %}
        Witaj {{user.username}}<br>
        <a href="{% url 'logout' %}">wyloguj sie</a>
    {% else %}
        <a href="{% url 'login' %}">zaloguj sie</a>
    {% endif %}
    <a href="{% url 'nowa_opona' %}">nowa opona</a>
    {% if opony|length == 0%}
        <h2>brak opon</h2>
    {% else %}
        <h2>Ilosc opon w bazie: {{ opony |length}}</h2>
        <h1> </h1>
    {% for opona in opony %}
        <h2> {{ opona }}</h2>
        <p>{{ opona.opis}}</p>
        <a href="{% url 'kup_opone' opona.id %}">Kup</a>
        <a href="{% url 'edytuj_opone' opona.id %}">Edytuj</a>
        <a href="{% url 'usun_opone' opona.id %}">Usun</a>
    {% endfor %}

{% endif %}

{% endblock %}
